/Entrenamiento/nbproject/private/
/practica/nbproject/private/
/practica/build/
/j-carrera taller/nbproject/private/
/Games/nbproject/private/
/Games/build/
/Parcial/nbproject/private/
/Parcial/build/
/market/nbproject/private/
/market/build/
/MyCalc/nbproject/private/
/MyCalc/build/
/Spinning_Top/nbproject/private/
/Spinning_Top/build/
/MyMarket/nbproject/private/